[defaults]
nocows = true
roles_path = ./roles
inventory  = ./inventory/yb_cluster/hosts.ini

remote_tmp = $HOME/.ansible/tmp
local_tmp  = $HOME/.ansible/tmp
pipelining = true
host_key_checking = false
deprecation_warnings = false
callback_whitelist = profile_roles, timer
# do not display skipped tasks
display_skipped_hosts = false